{% extends "index.html" %}

{% block title %}Services{% endblock %}

{% block content %}
<main>
    <section class="services" id="services">

        <div class="service-card">
      
          <p class="card-number">01</p>
      
          <h3 class="card-heading">Nous sommes situés en plein centre-ville</h3>
      
          <p class="card-text">
            Découvrez nos plats préparés avec des ingrédients frais provenant de fermes biologiques.
          </p>
      
        </div>
      
        <div class="service-card">
      
          <p class="card-number">02</p>
      
          <h3 class="card-heading">Ingrédients frais issus de fermes biologiques</h3>
      
          <p class="card-text">
            Profitez de notre livraison rapide en moins de 30 minutes.
          </p>
      
        </div>
      
        <div class="service-card">
      
          <p class="card-number">03</p>
      
          <h3 class="card-heading">Livraison rapide à domicile. Maximum 30 minutes</h3>
      
          <p class="card-text">
            Nos chefs professionnels et expérimentés vous garantissent une expérience culinaire exceptionnelle.
          </p>
      
        </div>
      
        <div class="service-card">
      
          <p class="card-number">04</p>
      
          <h3 class="card-heading">Chefs professionnels et expérimentés</h3>
      
          <p class="card-text">
            Nous nous engageons à offrir des services de la plus haute qualité à nos clients.
          </p>
      
        </div>
      
        <div class="service-card">
      
          <p class="card-number">05</p>
      
          <h3 class="card-heading">Les normes de service les plus élevées</h3>
      
          <p class="card-text">
            Découvrez une gamme de services conçus pour répondre à vos besoins culinaires et gastronomiques.
          </p>
      
        </div>
      
      </section>
</main>
{% endblock %}
